@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* div {
  border: solid black;
} */

body {
  font-family: Inter;
}

.bg {
  opacity: 0.32;
}

.left {
  background-color: rgba(43, 21, 107, 1);
}

.logo {
  width: 60%;
}

.logo > p {
  font-size: 32px;
  line-height: 58px;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.8);
}

.semi {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0.7%;
  color: rgba(170, 170, 170, 1);
}

.bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 20.08px;
}

.btn-primary {
  background-color: rgba(95, 46, 234, 1) !important;
  width: 100%;
}

a {
  color: rgba(95, 46, 234, 1) !important;
}

.container-right {
  width: 100%;
}

.not-disappear img {
  width: 25%;
}

@media (min-width: 769px) {
  .disappear {
    display: block !important;
  }
  .not-disappear {
    display: none !important;
  }
}

@media (min-width: 0px) and (max-width: 767.98px) {
  .disappear {
    display: none !important;
  }
  .not-disappear {
    display: block !important;
  }
}
